
# Github Actions
.github/ @kyasbal
.cloudbuild/ @kyasbal

# Golang related files
cmd/ @kyasbal @RyuSA @jyane
pkg/ @kyasbal @RyuSA @jyane
test/ @kyasbal @RyuSA @jyane

# Web front related files
web/ @kyasbal @renamoo